[Desktop Entry]
Encoding=UTF-8
Name=Template Application
Comment=Replace with your application's information!
Categories=System;
Exec=
Icon=
Type=Application
